/*Propiedades de la segunda franja*/
.Franja2{
    position:absolute;
}

/*Propiedades del logo*/
.Logo{
    position: relative;
    width: 125px;
    left: 280px;
}

/*Primer link*/
.Mobile{
    position: relative;
    left: 400px;
    text-decoration: none;
    color: black;
    /*font-family: 'Samsung Sharp Sans Regular';*/
}

/*Cambiando el color cuando se pone el mouse encima de la letra*/
.Mobile:hover{
    color: white;
    background-color: black;
}

/*Segundo link*/
.TV{
    position: relative;
    left: 450px;
    text-decoration: none;
    color: black;
}

/*Cambiando el color cuando se pone el mouse encima de la letra*/
.TV:hover{
    color: white;
    background-color: black;
}

/*Tercer link*/
.Electrodomesticos{
    position: relative;
    left: 500px;
    text-decoration: none;
    color: black;
}

/*Cambiando el color cuando se pone el mouse encima de la letra*/
.Electrodomesticos:hover{
    color: white;
    background-color: black;
}

/*Cuarto link*/
.Tienda{
    position: relative;
    left: 550px;
    text-decoration: none;
    color: black;
}

/*Cambiando el color cuando se pone el mouse encima de la letra*/
.Tienda:hover{
    color: white;
    background-color: black;
    /*width: 500px;
    height: 500px;
    line-height: 500px;
    border-radius: 50%;*/
}

/*Propiedades de la banera*/
.Bandera{
    position: relative;
    width: 22px;
    left: 900px;
}

/*Propiedades del GTQ*/
.GTQ{
    position: relative;
    color: gray;
    left: 1450px;
    top: -35px;
}

/*Propiedades del ícono de perfil*/
.Perfil{
    position: relative;
    width: 30px;
    top: -75px;
    left: 1550px;
}

/*Propiedades del ícono de la carretilla*/
.Cart{
    position: relative;
    width: 30px;
    top: -75px;
    left: 1580px;
}

/*Propiedades del ícono de búsqueda*/
.Search{
    position: relative;
    width: 30px;
    top: -75px;
    left: 1610px;
}