/*Propiedades de la franja 3*/
.Franja3{
    position: absolute;
}

/*Imagen de las promociones*/
.Promociones{
    position: relative;
    top: 80px;
    left: 385px;
}

/*Texto de promociones*/
.Promociones2{
    position: relative;
    font-size: 15px;
    top: 80px;
    left: 325px;
    color: gray;
}

/*Segundo texto de promociones*/
.Promociones3{
    position: relative;
    font-size: 15px;
    top: 85px;
    left: 390px;
    color: gray;
}

/*Tercer texto de promociones*/
.Promociones4{
    position: relative;
    top: 90px;
    left: 260px;
    color: #51A4FF;
    text-decoration: none;
}

/*Propiedades de la línea 1*/
.Linea1{
    position: relative;
    height:125px;
    width:.5px;
    border-width:0;
    color:lightgray;
    background-color:rgb(211, 211, 211);
    top:-36px;
    left: 620px;
}

/*Cuotas*/
.Cuotas{
    position: relative;
    top: -200px;
    left: 730px;
}

/*Texto 1 de las cuotas*/
.Cuota1{
    position: relative;
    font-size: 15px;
    top: -190px;
    left: 660px;
    color: gray;
}

/*Texto 2 de las cuotas*/
.Cuota2{
    position: relative;
    font-size: 15px;
    top: -185px;
    left: 710px;
    color: gray;
}

/*Texto 3 de las cuotas*/
.Cuota3{
    position: relative;
    font-size: 15px;
    top: -180px;
    left: 730px;
    color: gray;
}

/*Texto 4 de las cuotas*/
.Cuota4{
    position: relative;
    color: #51A4FF;
    text-decoration: none;
    top: -170px;
    left: 640px;
}

/*Propiedades de la línea 2*/
.Linea2{
    position: relative;
    height:130px;
    width:.5px;
    border-width:0;
    color:lightgray;
    background-color:rgb(211, 211, 211);
    top:-340px;
    left: 940px;
}

/*Propiedades de la imagen de compra*/
.Compra{
    position: relative;
    top: -500px;
    left: 1050px;
}

/*Propiedades del texto 1 de Compra*/
.Compra1{
    position: relative;
    font-size: 15px;
    top: -500px;
    left: 1020px;
    color: gray;
}

/*Propiedades del texto 2 de Compra*/
.Compra2{
    position: relative;
    font-size: 15px;
    color: gray;
    top: -495px;
    left: 1050px;
}

/*Propiedades del texto de entrega*/
.Entrega{
    position: relative;
    color: #51A4FF;
    text-decoration: none;
    top: -480px;
    left: 960px;
}

/*Propiedades de la línea 3*/
.Linea3{
    position: relative;
    height:125px;
    width:.5px;
    border-width:0;
    color:lightgray;
    background-color:rgb(211, 211, 211);
    top:-620px;
    left: 1280px;
}

/*Propiedades de la imagen de seguridad*/
.Seguridad{
    position: relative;
    top: -775px;
    left: 1370px;
}

/*Propiedades del texto 1 de seguridad*/
.Seguridad1{
    position: relative;
    font-size: 15px;
    color: gray;
    top: -780px;
    left: 1320px;
}

/*Propiedades del texto 2 de seguridad*/
.Seguridad2{
    position: relative;
    font-size: 15px;
    color: gray;
    top: -770px;
    left: 1385px;
}

/*Propiedades del texto 3 de seguridad*/
.Seguridad3{
    position: relative;
    color: #51A4FF;
    text-decoration: none;
    top: -760px;
    left: 1300px;
}

/*Propiedades del texto Novedades del Mes*/
.Novedades{
    position: relative;
    top: -200px;
    left: 720px;
    font-size: 38px;
}