.Galeria{
    position:absolute;
    display:grid;
}

/*Propiedades de la galería*/
.Wrapper{
    position: relative;
    top: -600px;
    margin: 130px;
    padding: 50px 100px 100px 100px 100px;
}

/*Propiedades del header*/
.Wrapper header{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

/*Propiedades del nav*/
.Wrapper nav{
    height: 50px;
    width: 80%;
    display: flex;
    align-items: center;
    background-color: #fff;
}

/*Propieades del texto del nav*/
.Wrapper nav label {
    display: block;
    height: 100px;
    width: 100%;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    font-size: 25px;
    position: relative;
    z-index: 1;
}

/*Propieades de los i's*/
.Wrapper nav label i {
    padding-right: 7px;
}

/*Creando slider*/
/*Arreglar*/
.Wrapper nav .slider{
    position: absolute;
    height: 2%;
    width: 10%;
    text-decoration: underline;
    background-color: rgb(59, 59, 255);
    border-radius: 5px;
    z-index: 0;
    left: 0;
    bottom: 0;
    transition: all 0.3s ease;
}

/*Propiedades del check: Aquí se está moviendo el slider a como se selecciona el título*/
#productos:checked ~ nav .slider{
    left: 5%;
}

#smartphones:checked ~ nav .slider{
    left: 25%;
}

#tablets:checked ~ nav .slider{
    left: 45%;
}

#TV:checked ~ nav .slider{
    left: 110%;
}

#TV:checked ~ nav .slider{
    left: 51%;
}

#Elec:checked ~ nav .slider{
    left: 66%;
}

/*Desapareciendo el check*/
input[type="radio"]{
    display: none;
}

/*Escondiendo el contenido*/
section .content{
    display: none;
}

/*Propiedades del primer contenido*/
#productos:checked ~ section .content-1{
    display: grid;
}

/*Propiedades del segundo contenido*/
#smartphones:checked ~ section .content-2{
    display: grid;
}

/*Propiedades del tercer contenido*/

#tablets:checked ~ section .content-3{
    display: grid;
}

/*Propiedades del cuarto contenido*/

#TV:checked ~ section .content-4{
    display: grid;
}

/*Propiedades del quinto contenido*/

#Elec:checked ~ section .content-5{
    display: grid;
}

/*Cambiando los tamaños de los títulos*/

.Destacados{
    font-size: 15px;
}

.Smartphones{
    font-size: 15px;
}

.Tablets{
    font-size: 15px;
}

.Av{
    font-size: 15px;
}

.Electrodos{
    font-size: 15px;
}

section .content .Conte1 .Uno{
    position: relative;
}

/*Segunda imagen del primer apartado*/
section .content .Conte1 .Dos{
    position: relative;
    top: -250px;
    border-radius: 7%;
}

/*Tercera imagen del primer apartado*/
section .content .Conte1 .Tres{
    position: relative;
    top: -250px;
    left: 50px;
    border-radius: 7%;
}

/*Cuarta imagen del primer apartado*/
section .content .Conte1 .Cuatro{
    position: relative;
    top: 100px;
    left: -600px;
    border-radius: 7%;
}

/*Quinta imagen del primer apartado*/
section .content .Conte1 .Cinco{
    position: relative;
    top: 79px;
    left: -538px;
    border-radius: 7%;
}

/*Primera imagen del segundo apartado*/
section .content .Conte2 .Seis{
    position: relative;
    border-radius: 7%;
    top: 50px;
    left: 50px;
    left: 200px;
}

/*Segunda imagen del segundo apartado*/
section .content .Conte2 .Siete{
    position: relative;
    border-radius: 7%;
    top: 50px;
    left: 200px;
}

/*Primera imagen del tercer apartado*/
section .content .Conte3 .Ocho{
    position: relative;
    border-radius: 7%;
}

/*Segunda imagen del tercer apartado*/
section .content .Conte3 .Nueve{
    position: relative;
    border-radius: 7%;
    top: -200px;
    left: 25px;
}

/*Tercera imagen del tercer apartado*/
section .content .Conte3 .Diez{
    position: relative;
    border-radius: 7%;
    top: -200px;
    left: 50px;
}

/*Cuarta imagen del tercer apartado*/
section .content .Conte3 .Once{
    position: relative;
    border-radius: 7%;
    top: 20px;
    left: -600px;
}

/*Quinta imagen del tercer apartado*/
section .content .Conte3 .Doce{
    position: relative;
    border-radius: 7%;
    top: -200px;
    left: 950px;
}

/*Primera imagen del cuarto apartado*/
section .content .Conte4 .Trece{
    position: relative;
    border-radius: 7%;
    left: 200px;
}

/*Segunda imagen del cuarto apartado*/
section .content .Conte4 .Catorce{
    position: relative;
    border-radius: 7%;
    top: -225px;
    left: 300px;
}

/*Tercera imagen del cuarto apartado*/
section .content .Conte4 .Quince{
    position: relative;
    border-radius: 7%;
    top: -225px;
    left: 330px;
}

/*Cuarta imagen del cuarto apartado*/
section .content .Conte4 .Dieciseis{
    position: relative;
    border-radius: 7%;
    top: 50px;
    left: -300px;
}

/*Quinta imagen del cuarto apartado*/
section .content .Conte4 .Diecisiete{
    position: relative;
    border-radius: 7%;
    top: -200px;
    left: 1225px;
}

/*Primera imagen del quinto apartado*/
section .content .Conte5 .Dieciocho{
    position: relative;
    border-radius: 7%;
    height: 70%;
    top: 20px;
    left: 200px;
}

/*Primera imagen del quinto apartado*/
section .content .Conte5 .Diecinueve{
    position: relative;
    border-radius: 7%;
    top: -240px;
    left: 250px;
}

/*Cuarta imagen del cuarto apartado*/
section .content .Conte5 .Veinte{
    position: relative;
    border-radius: 7%;
    top: -240px;
    left: 275px;
}

/*Cuarta imagen del cuarto apartado*/
section .content .Conte5 .Veintiuno{
    position: relative;
    border-radius: 7%;
    top: 20px;
    left: -350px;
}

/*Cuarta imagen del cuarto apartado*/
section .content .Conte5 .Veintidos{
    position: relative;
    border-radius: 7%;
    top: -220px;
    left: 1200px;
}

/*Moviendo los títulos más hacia el medio*/
.Titus{
    position: relative;
    left: 100px;
}