/*
    Referncias: 
    1. Espaciado entre líneas: https://www.delftstack.com/es/howto/css/css-line-spacing/#:~:text=Utilice%20la%20propiedad%20line-height,o%20se%20reducirá%20en%20consecuencia.
    2. 
*/
.Pie_Pagina{
    position: absolute;
    top: 2976px;
}

/*Propiedades del footer*/
.Foot{
    position: absolute;
    height: 75px;
    top: 350px;
    width: 1884px;
    background-color: rgb(233, 233, 233);
}

/*Propiedades del texto de copyright*/
.Copy{
    position: relative;
    font-size: 12px;
    color: gray;
    top: 30px;
    left: 220px;
}

/*Propiedades del texto de ayuda*/
.Ayuda{
    position: relative;
    color: rgb(122, 122, 122);
    font-size: 12px;
    top: 15px;
    left: 1300px;
}

/*Propiedades del texto de privacidad*/
.Privacidad{
    position: relative;
    color: rgb(122, 122, 122);
    font-size: 12px;
    left: 1550px;
}

/*Propieades del texto legal*/
.Legal{
    position: relative;
    color: rgb(122, 122, 122);
    font-size: 12px;
    top: -15px;
    left: 1700px;
}

/*Propiedad general de secciones*/
.Secciones{
    position: absolute;
}

/*Texto de secciones*/
.Sec{
    position: relative;
    font-size: 15px;
    left: 360px;
    top: -550px;
}

/*Propiedades del texto conocenos*/
.Conocenos{
    position: relative;
    font-size: 14px;
    top: -530px;
    left: 360px;
}

/*Propiedades del texto de soporte*/
.Sopo{
    position: relative;
    font-size: 14px;
    top: -505px;
    left: 274px;
}

/*Propiedades del texto de ventas*/
.Ventas{
    position: relative;
    font-size: 14px;
    top: -480px;
    left: 214px;
}

/*Empezar*/
/* Propiedades generales de la sección de soporte */
.Soporte{
    position: absolute;
    display: grid;
    top: -490px;
    left: 380px;
}

/*Propiedades del texto de necesitas*/
.Necesitas{
    position: relative;
    left: 250px;
    top: -2px;
}

/*Propiedades de la etiqueta de telefónico*/
.Telefonico{
    position: relative;
    left: 250px;
    top: 15px;
}

/*Propiedades del texto mail*/
.Mail{
    position: relative;
    left: 250px;
    top: 25px;
}

.Preguntas{
    position: relative;
    left: 250px;
    top: 35px;
}
/*Terminar*/
/* Espacio para los sitios oficiales de cada país */
.Sitios{
    position: relative;
    display: grid;
    font-size: 14px;
    line-height: 2;
    left: 905px;
    top: -550px;
}

.Oficiales{
    position: relative;
    top: -3px;
}

.Costa-Rica{
    position: relative;
}

.Ecuador{
    position: relative;
}

.El-Salvador{
    position: relative;
}

.Guatemala{
    position: relative;
}

.Honduras{
    position: relative;
}

.Nicaragua{
    position: relative;
}

.Panama{
    position: relative;
}

.Republica-Dominicana{
    position: relative;
}

.Venezuela{
    position: relative;
}

/* Espacio para las redes sociales */
.Redes{
    position: relative;
    display: inline-block;
    line-height: 2;
    top: -840px;
    left: 1300px;
}

.Face{
    position: relative;
}

.Twi{
    position: relative;
    height: 25px;
    left: 10px;
}

.Insta{
    position: relative;
    left: 20px;
}

.You{
    position: relative;
    left: 30px;
}

.Linke{
    position: relative;
    height: 25px;
    left: 40px;
}