/*
Referencias: 
Movimiento del texto: https://www.youtube.com/watch?v=UWeFaJtqhxk&ab_channel=J%26GProyectosWeb
Transición de objetos: https://webdesign.tutsplus.com/es/articles/css3-transitions-and-transforms-from-scratch--webdesign-4975
Colores de los textos: https://htmlcolorcodes.com/color-picker/
Hacer línea divisora: https://www.delftstack.com/es/howto/html/html-vertical-line/#:~:text=vertical%20en%20HTML.-,Utilice%20la%20propiedad%20CSS%20border-left%20para%20crear%20una%20línea,la%20propiedad%20CSS%20border-left%20.
*/

body{
    position: absolute;
    background-color: white;
}

/*Franja azul de hasta arriba de la página*/
.Franja1{
    position: relative;
    color: white;
    height: 30px;
    width: 1900px;
    top: -10px;
    left: -10px;
    background-color: #258DFF;
}

/*Texto Inicial*/
.Inicial{
    position: absolute;
    top: 5px;
    height: 30px;
    font-size: 15px;
    left: 830px;
    animation: cambiar 5s infinite;
}

/*Texto de en medio*/
.Medio{
    position: absolute;
    top: 25px;
    height: 30px;
    font-size: 15px;
    left: 830px;
    animation: cambiar 10s infinite;
}

/*Texto final*/
.Final{
    position: absolute;
    top: 45px;
    height: 40px;
    font-size: 15px;
    left: 750px;
    animation: cambiar 10s infinite;
}

/*Animación del movimiento*/
@keyframes cambiar {
    0%{margin-top: -20px;}
    50%{margin-top: -40px;}
    100%{margin-top: -60px;}
}

/*Propiedades de la segunda franja*/
.Franja2{
    position:absolute;
}

/*Propiedades del logo*/
.Logo{
    position: relative;
    width: 125px;
    left: 280px;
}

/*Primer link*/
.Mobile{
    position: relative;
    left: 400px;
    /*font-family: 'Samsung Sharp Sans Regular';*/
}

/*Segundo link*/
.TV{
    position: relative;
    left: 450px;   
}

/*Tercer link*/
.Electrodomesticos{
    position: relative;
    left: 500px;
}

/*Cuarto link*/
.Tienda{
    position: relative;
    left: 550px;
}

/*Propiedades de la banera*/
.Bandera{
    position: relative;
    width: 22px;
    left: 900px;
}

/*Propiedades del GTQ*/
.GTQ{
    position: relative;
    color: gray;
    left: 1450px;
    top: -35px;
}

/*Propiedades del ícono de perfil*/
.Perfil{
    position: relative;
    width: 30px;
    top: -75px;
    left: 1550px;
}

/*Propiedades del ícono de la carretilla*/
.Cart{
    position: relative;
    width: 30px;
    top: -75px;
    left: 1580px;
}

/*Propiedades del ícono de búsqueda*/
.Search{
    position: relative;
    width: 30px;
    top: -75px;
    left: 1610px;
}

/*Propiedades de la franja 3*/
.Franja3{
    position: absolute;
}

/*Primera imagen*/
.Telefono{
    position: relative;
    width: 1900px;
    top: 75px;
    left: -10px;
    transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out; /*Esto es para ópera*/
}

/*Segunda imagen*/
.Telefono2{
    position: relative;
    width: 1900px;
    top: 75px;
    left: -10px;
    transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out; /*Esto es para ópera*/
}

/*Imagen de las promociones*/
.Promociones{
    position: relative;
    top: 150px;
    left: 400px;
}

/*Texto de promociones*/
.Promociones2{
    position: relative;
    top: 140px;
    left: 350px;
    color: gray;
}

/*Segundo texto de promociones*/
.Promociones3{
    position: relative;
    top: 125px;
    left: 400px;
    color: gray;
}

/*Tercer texto de promociones*/
.Promociones4{
    position: relative;
    top: 110px;
    left: 330px;
    color: #51A4FF;
}

/*Propiedades de la línea 1*/
.Linea1{
    position: relative;
    height:150px;
    width:.5px;
    border-width:0;
    color:lightgray;
    background-color:rgb(211, 211, 211);
    top:-20px;
    left: 610px;
}

/*Cuotas*/
.Cuotas{
    position: relative;
    top: -220px;
    left: 730px;
}

/*Texto 1 de las cuotas*/
.Cuota1{
    position: relative;
    top: -225px;
    left: 680px;
    color: gray;
}

/*Texto 2 de las cuotas*/
.Cuota2{
    position: relative;
    top: -245px;
    left: 730px;
    color: gray;
}

/*Texto 3 de las cuotas*/
.Cuota3{
    position: relative;
    top: -265px;
    left: 750px;
    color: gray;
}

/*Texto 4 de las cuotas*/
.Cuota4{
    position: relative;
    color: #51A4FF;
    top: -280px;
    left: 690px;
}

/*Propiedades de la línea 2*/
.Linea2{
    position: relative;
    height:150px;
    width:.5px;
    border-width:0;
    color:lightgray;
    background-color:rgb(211, 211, 211);
    top:-430px;
    left: 950px;
}

/*Propiedades de la imagen de compra*/
.Compra{
    position: relative;
    top: -630px;
    left: 1040px;
}

/*Propiedades del texto 1 de Compra*/
.Compra1{
    position: relative;
    top: -630px;
    left: 1020px;
    color: gray;
}

/*Propiedades del texto 2 de Compra*/
.Compra2{
    position: relative;
    color: gray;
    top: -645px;
    left: 1045px;
}

/*Propiedades del texto de entrega*/
.Entrega{
    position: relative;
    color: #51A4FF;
    top: -655px;
    left: 1020px;
}

/*Propiedades de la línea 3*/
.Linea3{
    position: relative;
    height:150px;
    width:.5px;
    border-width:0;
    color:lightgray;
    background-color:rgb(211, 211, 211);
    top:-800px;
    left: 1280px;
}

/*Propiedades de la imagen de seguridad*/
.Seguridad{
    position: relative;
    top: -990px;
    left: 1370px;
}

/*Propiedades del texto 1 de seguridad*/
.Seguridad1{
    position: relative;
    color: gray;
    top: -1000px;
    left: 1320px;
}

/*Propiedades del texto 2 de seguridad*/
.Seguridad2{
    position: relative;
    color: gray;
    top: -1020px;
    left: 1385px;
}

/*Propiedades del texto 3 de seguridad*/
.Seguridad3{
    position: relative;
    color: #51A4FF;;
    top: -1030px;
    left: 1330px;
}

/*Propiedades del texto Novedades del Mes*/
.Novedades{
    position: relative;
    top: -800px;
    left: 800px;
    font-size: 38px;
}