*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#conteItemsCarrusel{
    height: 600px;
    overflow: hidden;
}

/*Ítems del carrusel*/
.itemCarrusel{
    position: relative;
    left: 0;
    top: 80px;
    height: 600px;
}

/*.tarjetaCarrusel{
    background-color: rgb(133, 216, 216);
    height: 1890px;
}*/

/*Propiedades de las flechas del carrusel*/
.flechasCarrusel{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

/*Quitando la decoración de las flechas*/
a{
    text-decoration: none;
}

/*Puntos del carrusel*/
#contePuntos{
    display: flex;
    justify-content: space-around;
}

/*Propiedades de los puntos del carrusel*/
#contePuntos > a {
    font-size: 1.5em;
    font-style: none;
    color: black;
}

/*Propiedades de las imágenes (dimensiones)*/
.Img1{
    width: 1890px;
    height: 600px;
}
