*{
    padding: 0;
    margin: 0;
}
/*Propiedades generales del carrusel*/
.slider{
    width: 1880px;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
}

/*Propiedades del ul, aquí se están cambiando de manera aleatoria 
las imágenes*/
.slider ul{
    display: flex;
    padding: 0;
    width: 600%;
    animation: cambio 10s infinite;
}

/*Propiedades de las imágenes*/
.slider li {
    list-style: none;
    width: 100%;
}

/*Propiedades de las imágnes del carrusel*/
.slider img{
    width: 100%;
}

/*Haciendo la animación del cambio de imágenes*/
@keyframes cambio {
    0%{margin-left: 0;}
    16%{margin-left: 0;}

    16%{margin-left: -100%;}
    32%{margin-left: -100%;}

    32%{margin-left: -200%;}
    48%{margin-left: -200%;}

    48%{margin-left: -300%;}
    64%{margin-left: -300%;}

    64%{margin-left: -300%;}
    80%{margin-left: -300%;}

    80%{margin-left: -400%;}
    100%{margin-left: -400%;}
}